# 5. Series 데이터 변경 & 슬라이싱 하기

In [1]:
import numpy as np
import pandas as pd

### 1. Series값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제 : drop함수 이용

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [13]:
#업데이트
s['a'] = 200
s[['b','c']] = [1, 2]

#추가
s['x'] = 300
s

a    200
b      1
c      2
d    103
e    104
x    300
dtype: int64

In [11]:
#삭제
s.drop('x')

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [12]:
s #즉, drop함수는 원본을 바꾸지는 않는다 그러나

a    200
b    101
c    102
d    103
e    104
x    300
dtype: int64

s.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)에서 inplace = True로 하면 원본을 바로 바꿔버린다.

### 2. Slicing
- 리스트, ndarray와 동일하게 적용

In [14]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [16]:
s1[1:3] #숫자 인덱스인 시리즈인 경우 기존의 방식과 동일하다

1    101
2    102
dtype: int64

In [17]:
s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2 #그러나 인덱스가 문자열인 경우는

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [19]:
s2[1:3] #그래도 이게 가능하다.

b    101
c    102
dtype: int64

In [20]:
s2['a' : 'd'] #문자열도 가능하다. 단, <= && <=이다. 즉, 마지막 것도 포함한다.

a    100
b    101
c    102
d    103
dtype: int64