### 패스트캠퍼스 검색광고 데이터 분석

## 분석목표 :
    1. 중점관리 키워드가 뭔지, 저효율 키워드가 뭔지 추출
    2. 중점관리 해야하는 광고그룹은 무엇인지, 저효율 광고그룹은 뭔지 추출
 
 ## 분석과정 :
     1. 데이터 전처리
     2. 데이터 탐색
     3. 시각화
     4. 데이터 분석

# 1. 데이터 전처리
- 학습목표 
    1. read_excel함수를 사용하여 파이썬에 데이터 불러오기
    2. 데이터프레임의 열 단위 수치연산 및 데이터 타입 다루기

In [2]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [3]:
import matplotlib.pyplot as plt

In [4]:
#matplotlib 한글 폰트 출력코드
#출처 : 데이터 공방 (http:// kiddwannabe.blog.me)

import matplotlib
from matplotlib import font_manager, rc
import platform

try :
    #맥인 경우
    rc('font', family = 'AppleGothic')

except :
    pass
matplotlib.rcParams['axes.unicode_minus'] = False

#### 1) read_excel 함수를 사용하여 파이썬에 데이터 불러오기
- 파이썬의 디렉토리 경로 구분자 : /(슬래시)
- 운영체제별 디렉토리 경로 구분자  : 
    맥의 경우, /(슬래시)

In [5]:
df = pd.read_excel('/Users/jeonghyeonjeong/Desktop/실습데이터_네이버보고서.xls')

In [6]:
df.head()

,"캠페인보고서(2019.02.01.~2019.04.30.),ftasia",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549,2512444
2,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.04991,295.975,2384965
3,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.66,1568699
4,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593,1175174

#### 1-1) skiprows 함수 사용으로 불필요한 행 제거 
캠페인보고서(2019.02.01.~2019.04.30.),ftasia	Unnamed: 1	Unnamed: 2	Unnamed: 3	Unnamed: 4	Unnamed: 5	Unnamed: 6 이라고 되어있는 가장 윗 행은 없어도 되는 행이다. 

광고그룹	키워드	노출수	클릭수	클릭률(%)	평균클릭비용(VAT포함,원)	총비용(VAT포함,원) 이 가장 윗 행이 되어야 한다. 

첫 행을 삭제 해야 함 -> *skiprows=[0]* 이용

In [7]:
#첫 행 삭제
df = pd.read_excel('/Users/jeonghyeonjeong/Desktop/실습데이터_네이버보고서.xls', skiprows=[0])

In [8]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

#### 1-2) 결측치 여부확인

In [9]:
df.isnull()

       광고그룹    키워드    노출수    클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
0     False  False  False  False   False            False         False
1     False  False  False  False   False            False         False
2     False  False  False  False   False            False         False
3     False  False  False  False   False            False         False
4     False  False  False  False   False            False         False
...     ...    ...    ...    ...     ...              ...           ...
1376  False  False  False  False   False            False         False
1377  False  False  False  False   False            False         False
1378  False  False  False  False   False            False         False
1379  False  False  False  False   False            False         False
1380  False  False  False  False   False            False         False

[1381 rows x 7 columns]

In [10]:
#위 처럼 너무 데이터가 많아서 알아보기가 쉽지 않으니 
#결측치  확인 - 열단위
df.isnull().sum()

광고그룹               0
키워드                0
노출수                0
클릭수                0
클릭률(%)             0
평균클릭비용(VAT포함,원)    0
총비용(VAT포함,원)       0
dtype: int64

In [11]:
#결측치 확인 - 행단위
df.isnull().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
1376    0
1377    0
1378    0
1379    0
1380    0
Length: 1381, dtype: int64

#### 2. 데이터프레임의 열 단위 수치연산 및 데이터 타입 다루기
- 클릭수 (반올림 처리, 일의 자리수로 변경)
- 클릭률
- 평균클릭비용(VTA포함, 원)

In [12]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

#### 2-1) 클릭수 : 한 번의 클릭이 총 몇 번 이루어졌는지를 나타내는 지표
    - 그래서 소수점으로 나와있는 클릭수를 반올림처리해서 일의 자리수로 변경 해 줄 것임.

In [13]:
#클릭수 열에 round함수 적용 #round함수(df의 행이름, 어디로 반올림 해 줄 것인지)  
clk = round(df['클릭수'], 0) 
clk

0       9606.0
1       8058.0
2        324.0
3       1864.0
4        814.0
         ...
1376       0.0
1377       0.0
1378       0.0
1379       0.0
1380       0.0
Name: 클릭수, Length: 1381, dtype: float64

In [14]:
#clk변수의 5번째 자료 확인
clk[5]

260.0

In [15]:
#소수점 제거 = 실수(float)타입 ->. int type

clk.astype(int)

0       9606
1       8058
2        324
3       1864
4        814
        ...
1376       0
1377       0
1378       0
1379       0
1380       0
Name: 클릭수, Length: 1381, dtype: int64

In [16]:
#그 후 이렇게 정수로 깔끔하게 바뀐 것을 기존의 데이터에 넣어준다. 
df['클릭수'] = clk.astype(int)
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268489,630.593475,1175174
4,3. html,HTML,9626374,814,0.008452,1408.435349,1145903

#### 2-2)클릭룰 : CTR =  클릭수 / 노출수 *100
- 기존 클릭률을 이 연산을 한 데이터 로 변경시킨다.

In [17]:
#데이터프레임의 열은 서로 수치연산 가능
#파이썬은 열단위 연산이 가능하다. 
df['클릭수']/df['노출수']*100

0       0.414149
1       1.049915
2       0.028475
3       0.268547
4       0.008456
          ...
1376    0.000000
1377    0.000000
1378    0.000000
1379    0.000000
1380    0.000000
Length: 1381, dtype: float64

In [18]:
#원본 데이터 교체 df['클릭률(%)'] = df['클릭수']/df['노출수']*100 
df['클릭률(%)'] =df['클릭수']/df['노출수']*100
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268547,630.593475,1175174
4,3. html,HTML,9626374,814,0.008456,1408.435349,1145903

#### 2-3) 총 비용

In [19]:
df['총비용(VAT포함,원)']/df['클릭률(%)']

0       6.066524e+06
1       2.271580e+06
2       5.509038e+07
3       4.376048e+06
4       1.355146e+08
            ...
1376             NaN
1377             NaN
1378             NaN
1379             NaN
1380             NaN
Length: 1381, dtype: float64

#### 2-4) 평균 클릭비용
 원본에서는 평균 클릭비용의 단위가 '원'인데, 소수니까 반올림하고 다시 업데이트 해준다.

In [20]:
#cpc 변수 생성
cpc = round(df['평균클릭비용(VAT포함,원)'], 0)
df['평균클릭비용(VAT포함,원)'] = cpc.astype(int)

In [21]:
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606,0.414149,262,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058,1.049915,296,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324,0.028475,4842,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1864,0.268547,631,1175174
4,3. html,HTML,9626374,814,0.008456,1408,1145903

# 2. Pandas를 활용한 데이터 탐색 실습
- 학습목표 : 
    1. 데이터 탐색과정에서 사용되는 함수를 살펴보고 실전사례를 통해 사용법을 익힌다.

In [24]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [25]:
df = pd.read_excel('/Users/jeonghyeonjeong/Desktop/실습데이터_네이버보고서.xls', skiprows=[0])

#### 1) 출력함수 
- head()
- tail()

In [27]:
  #head() - 데이터의 첫 부분 출력, 기본적으로  첫 5행을 출력해줌
    #데이터의 구성, 칼럼명 등 대략적인 데이터 파악을 할 수 있음. 
df.head()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903

In [28]:
#head(숫자 넣으면) - 첫 숫자갯수행
df.head(10)

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
0,올인원 패키지 : 디자인 툴_파워컨텐츠_포토샵,-,2319456,9606.0,0.414149,261.549448,2512444
1,올인원 패키지 : 업무자동화_VBA,-,767491,8058.0,1.049915,295.974808,2384965
2,ㅍAOP 전체_중복키워드_디자인(삭제),일러스트,1137840,324.0,0.028475,4841.663580,1568699
3,올인원 패키지 : 데이터 분석 입문 온라인_파콘,-,694106,1863.6,0.268489,630.593475,1175174
4,3. html,HTML,9626374,813.6,0.008452,1408.435349,1145903
5,6. 파이썬,파이썬,384522,260.4,0.067720,3705.360983,964876
6,1. 코딩,코딩,562162,271.2,0.048242,3243.215339,879560
7,2. C언어 일반,C언어,271370,153.6,0.056602,5269.257812,809358
8,프로그래밍 전체_파워컨텐츠_블록체인(삭제),가상화폐,91369,2838.0,3.106086,283.217054,803770
9,AOP 전체_중복키워드_디자인,포토샵,1887822,393.6,0.020849,1913.737297,753247

In [29]:
#tail() - 데이터의 끝 부분 출력, 기본적으로 끝 5행을 출력
df.tail()

,광고그룹,키워드,노출수,클릭수,클릭률(%),"평균클릭비용(VAT포함,원)","총비용(VAT포함,원)"
1376,올인원 패키지 : 업무자동화_3. 엑셀,엑셀셀서식,24016,0.0,0.0,0.0,0
1377,올인원 패키지 : 업무자동화_3. 엑셀,MATCH,32287,0.0,0.0,0.0,0
1378,마케팅KPI수립,LTV,32602,0.0,0.0,0.0,0
1379,data_camp_rmp_8,DECISION,60844,0.0,0.0,0.0,0
1380,4. 웹의 동작,REST,61193,0.0,0.0,0.0,0

In [ ]:
#tail() - 끝 숫자갯수행
df.tail(10)

#### 2) 각 열을 기준으로 한 기술통계량을 제공
- describe()

In [30]:
df.describe()

                노출수          클릭수       클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count  1.381000e+03  1381.000000  1381.000000      1381.000000  1.381000e+03
mean   3.505415e+04    52.530630     0.352871       981.631682  3.791958e+04
std    2.964650e+05   387.502772     1.000468      1372.390031  1.421492e+05
min    1.001000e+03     0.000000     0.000000         0.000000  0.000000e+00
25%    1.814000e+03     1.200000     0.007152        64.166667  7.700000e+01
50%    3.805000e+03     3.600000     0.061031       395.976793  2.123000e+03
75%    1.073400e+04    14.400000     0.237026      1302.812500  1.743500e+04
max    9.626374e+06  9606.000000    13.587402      9362.527778  2.512444e+06

In [32]:
#pandas 출력 옵션설정 - float형식으로 수치표기
pd.set_option('display.float_format', '{: .2f}'.format) #항상 float형식으로 표기하겠다
df.describe()

              노출수      클릭수   클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
count     1381.00  1381.00  1381.00          1381.00       1381.00
mean     35054.15    52.53     0.35           981.63      37919.58
std     296465.03   387.50     1.00          1372.39     142149.16
min       1001.00     0.00     0.00             0.00          0.00
25%       1814.00     1.20     0.01            64.17         77.00
50%       3805.00     3.60     0.06           395.98       2123.00
75%      10734.00    14.40     0.24          1302.81      17435.00
max    9626374.00  9606.00    13.59          9362.53    2512444.00

#### 3) column명 반환
- columns

In [35]:
df.columns

Index(['광고그룹', '키워드', '노출수', '클릭수', '클릭률(%)', '평균클릭비용(VAT포함,원)',
       '총비용(VAT포함,원)'],
      dtype='object')

#### 4) 열의 고유값을 출력
- unique()

In [39]:
#df['광고그룹'].unique() #광고그룹의 고유값들이 어떤 것이 있는지 출력해줌 근데 이렇게 다 출력하면 너무 많으니까 
#갯수만 알고 싶으면 
len(df['광고그룹'].unique()) #len 사용

186

#### 5) 열의 고유값 빈도 출력
- value_counts()

In [40]:
df['광고그룹'].value_counts()

올인원 패키지 : 업무자동화_3. 엑셀          93
AOP 전체_중복키워드_디자인               57
#000_마케팅 전체_main               48
ㅍAOP 전체_중복키워드_디자인(삭제)          46
1. 전체                          26
                               ..
1_2 대표 경쟁                       1
모바일 앱 UX/UI 디자인                 1
올인원 패키지 : 영상 제작/편집_7.에프터이펙트     1
1. 데이터분석입문_일반                   1
올인원 패키지 : 데이터 분석 입문(파컨)         1
Name: 광고그룹, Length: 186, dtype: int64

 #### 6) 기준에 따라서 정렬
 - sort_values() (기본적으로는 오름차순으로 정렬된다, )

In [41]:
#노출수 기준으로 정렬해 보면
df['노출수'].sort_values()

1057       1001
445        1003
597        1005
983        1006
442        1007
         ...
13      1470452
9       1887822
0       2319456
173     3095998
4       9626374
Name: 노출수, Length: 1381, dtype: int64

In [42]:
#노출수를 내림차순으로 정렬
df['노출수'].sort_values(ascending = False)

4       9626374
173     3095998
0       2319456
9       1887822
13      1470452
         ...
442        1007
983        1006
597        1005
445        1003
1057       1001
Name: 노출수, Length: 1381, dtype: int64